#header .navbar-brand .logo {
  padding-left: 110px;
  position: relative;
  height: 66px;
  line-height: 78px; }

#header .navbar-brand .logo:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 66px;
  width: 96px;
  content: "";
  background: url(/Content/images/logo.png) no-repeat;
  background-size: 300px; }

.thumbnail-colorfull-wrapper {
  text-align: center; }
  .thumbnail-colorfull-wrapper img {
    max-width: 100%; }
  .thumbnail-colorfull-wrapper .colorfull {
    padding: 5px;
    width: 100%;
    display: inline-block; }
  .thumbnail-colorfull-wrapper .thumbnail {
    border: none;
    padding-top: 50%;
    border-radius: 0;
    background: none;
    position: relative;
    margin: 0; }
    .thumbnail-colorfull-wrapper .thumbnail img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
    .thumbnail-colorfull-wrapper .thumbnail.cover-thumbnail {
      overflow: hidden; }
    .thumbnail-colorfull-wrapper .thumbnail.cover-thumbnail img {
      top: -99999px;
      left: -99999px;
      bottom: -99999px;
      right: -99999px;
      margin: auto;
      max-width: 150%;
      max-height: 150%; }

.thema-1 #header .navbar-brand .logo:before {
  background-position: -102px -73px; }

.thema-1 .thumbnail-colorfull-wrapper:nth-child(8n-1) .colorfull {
  background: #d4c632; }

.thema-1 .thumbnail-colorfull-wrapper:nth-child(8n-2) .colorfull {
  background: #6f2341; }

.thema-1 .thumbnail-colorfull-wrapper:nth-child(8n-3) .colorfull {
  background: #c13035; }

.thema-1 .thumbnail-colorfull-wrapper:nth-child(8n-4) .colorfull {
  background: #cb5934; }

.thema-1 .thumbnail-colorfull-wrapper:nth-child(8n-5) .colorfull {
  background: #0e76bd; }

.thema-1 .thumbnail-colorfull-wrapper:nth-child(8n-6) .colorfull {
  background: #fdb141; }

.thema-1 .thumbnail-colorfull-wrapper:nth-child(8n-7) .colorfull {
  background: #7fb14d; }

.thema-1 .thumbnail-colorfull-wrapper:nth-child(8n-8) .colorfull {
  background: #00aff0; }

.thema-2 #header .navbar-brand .logo:before {
  background-position: -199px -5px; }

.thema-2 .thumbnail-colorfull-wrapper:nth-child(8n-1) .colorfull {
  background: #6f2341; }

.thema-2 .thumbnail-colorfull-wrapper:nth-child(8n-2) .colorfull {
  background: #c13035; }

.thema-2 .thumbnail-colorfull-wrapper:nth-child(8n-3) .colorfull {
  background: #cb5934; }

.thema-2 .thumbnail-colorfull-wrapper:nth-child(8n-4) .colorfull {
  background: #0e76bd; }

.thema-2 .thumbnail-colorfull-wrapper:nth-child(8n-5) .colorfull {
  background: #fdb141; }

.thema-2 .thumbnail-colorfull-wrapper:nth-child(8n-6) .colorfull {
  background: #7fb14d; }

.thema-2 .thumbnail-colorfull-wrapper:nth-child(8n-7) .colorfull {
  background: #00aff0; }

.thema-2 .thumbnail-colorfull-wrapper:nth-child(8n-8) .colorfull {
  background: #d4c632; }

.thema-3 #header .navbar-brand .logo:before {
  background-position: -5px -73px; }

.thema-3 .thumbnail-colorfull-wrapper:nth-child(8n-1) .colorfull {
  background: #c13035; }

.thema-3 .thumbnail-colorfull-wrapper:nth-child(8n-2) .colorfull {
  background: #cb5934; }

.thema-3 .thumbnail-colorfull-wrapper:nth-child(8n-3) .colorfull {
  background: #0e76bd; }

.thema-3 .thumbnail-colorfull-wrapper:nth-child(8n-4) .colorfull {
  background: #fdb141; }

.thema-3 .thumbnail-colorfull-wrapper:nth-child(8n-5) .colorfull {
  background: #7fb14d; }

.thema-3 .thumbnail-colorfull-wrapper:nth-child(8n-6) .colorfull {
  background: #00aff0; }

.thema-3 .thumbnail-colorfull-wrapper:nth-child(8n-7) .colorfull {
  background: #d4c632; }

.thema-3 .thumbnail-colorfull-wrapper:nth-child(8n-8) .colorfull {
  background: #6f2341; }

.thema-4 #header .navbar-brand .logo:before {
  background-position: -102px -5px; }

.thema-4 .thumbnail-colorfull-wrapper:nth-child(8n-1) .colorfull {
  background: #cb5934; }

.thema-4 .thumbnail-colorfull-wrapper:nth-child(8n-2) .colorfull {
  background: #0e76bd; }

.thema-4 .thumbnail-colorfull-wrapper:nth-child(8n-3) .colorfull {
  background: #fdb141; }

.thema-4 .thumbnail-colorfull-wrapper:nth-child(8n-4) .colorfull {
  background: #7fb14d; }

.thema-4 .thumbnail-colorfull-wrapper:nth-child(8n-5) .colorfull {
  background: #00aff0; }

.thema-4 .thumbnail-colorfull-wrapper:nth-child(8n-6) .colorfull {
  background: #d4c632; }

.thema-4 .thumbnail-colorfull-wrapper:nth-child(8n-7) .colorfull {
  background: #6f2341; }

.thema-4 .thumbnail-colorfull-wrapper:nth-child(8n-8) .colorfull {
  background: #c13035; }

.thema-5 #header .navbar-brand .logo:before {
  background-position: -199px -73px; }

.thema-5 .thumbnail-colorfull-wrapper:nth-child(8n-1) .colorfull {
  background: #0e76bd; }

.thema-5 .thumbnail-colorfull-wrapper:nth-child(8n-2) .colorfull {
  background: #fdb141; }

.thema-5 .thumbnail-colorfull-wrapper:nth-child(8n-3) .colorfull {
  background: #7fb14d; }

.thema-5 .thumbnail-colorfull-wrapper:nth-child(8n-4) .colorfull {
  background: #00aff0; }

.thema-5 .thumbnail-colorfull-wrapper:nth-child(8n-5) .colorfull {
  background: #d4c632; }

.thema-5 .thumbnail-colorfull-wrapper:nth-child(8n-6) .colorfull {
  background: #6f2341; }

.thema-5 .thumbnail-colorfull-wrapper:nth-child(8n-7) .colorfull {
  background: #c13035; }

.thema-5 .thumbnail-colorfull-wrapper:nth-child(8n-8) .colorfull {
  background: #cb5934; }

.thema-6 #header .navbar-brand .logo:before {
  background-position: -5px -5px; }

.thema-6 .thumbnail-colorfull-wrapper:nth-child(8n-1) .colorfull {
  background: #fdb141; }

.thema-6 .thumbnail-colorfull-wrapper:nth-child(8n-2) .colorfull {
  background: #7fb14d; }

.thema-6 .thumbnail-colorfull-wrapper:nth-child(8n-3) .colorfull {
  background: #00aff0; }

.thema-6 .thumbnail-colorfull-wrapper:nth-child(8n-4) .colorfull {
  background: #d4c632; }

.thema-6 .thumbnail-colorfull-wrapper:nth-child(8n-5) .colorfull {
  background: #6f2341; }

.thema-6 .thumbnail-colorfull-wrapper:nth-child(8n-6) .colorfull {
  background: #c13035; }

.thema-6 .thumbnail-colorfull-wrapper:nth-child(8n-7) .colorfull {
  background: #cb5934; }

.thema-6 .thumbnail-colorfull-wrapper:nth-child(8n-8) .colorfull {
  background: #0e76bd; }

.thema-7 #header .navbar-brand .logo:before {
  background-position: -102px -73px; }

.thema-7 .thumbnail-colorfull-wrapper:nth-child(8n-1) .colorfull {
  background: #7fb14d; }

.thema-7 .thumbnail-colorfull-wrapper:nth-child(8n-2) .colorfull {
  background: #00aff0; }

.thema-7 .thumbnail-colorfull-wrapper:nth-child(8n-3) .colorfull {
  background: #d4c632; }

.thema-7 .thumbnail-colorfull-wrapper:nth-child(8n-4) .colorfull {
  background: #6f2341; }

.thema-7 .thumbnail-colorfull-wrapper:nth-child(8n-5) .colorfull {
  background: #c13035; }

.thema-7 .thumbnail-colorfull-wrapper:nth-child(8n-6) .colorfull {
  background: #cb5934; }

.thema-7 .thumbnail-colorfull-wrapper:nth-child(8n-7) .colorfull {
  background: #0e76bd; }

.thema-7 .thumbnail-colorfull-wrapper:nth-child(8n-8) .colorfull {
  background: #fdb141; }

.thema-8 #header .navbar-brand .logo:before {
  background-position: -199px -5px; }

.thema-8 .thumbnail-colorfull-wrapper:nth-child(8n-1) .colorfull {
  background: #00aff0; }

.thema-8 .thumbnail-colorfull-wrapper:nth-child(8n-2) .colorfull {
  background: #d4c632; }

.thema-8 .thumbnail-colorfull-wrapper:nth-child(8n-3) .colorfull {
  background: #6f2341; }

.thema-8 .thumbnail-colorfull-wrapper:nth-child(8n-4) .colorfull {
  background: #c13035; }

.thema-8 .thumbnail-colorfull-wrapper:nth-child(8n-5) .colorfull {
  background: #cb5934; }

.thema-8 .thumbnail-colorfull-wrapper:nth-child(8n-6) .colorfull {
  background: #0e76bd; }

.thema-8 .thumbnail-colorfull-wrapper:nth-child(8n-7) .colorfull {
  background: #fdb141; }

.thema-8 .thumbnail-colorfull-wrapper:nth-child(8n-8) .colorfull {
  background: #7fb14d; }

