<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csharp.company</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>csharp.company</MSDeployServiceURL>
    <DeployIisAppPath>csharp.company</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>csharp.compa</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CSharpPro" Order="1" Enabled="True">
          <Destination Path="Data Source=10.70.15.207\SQL2014,780;database=CSharpPro;Persist Security Info=True;User ID=csharp_compa_mainsite;Password=Lut84x?3;Initial Catalog=csharp_compa_mainsite" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CSharpPro.DataModels.DataContext, CSharpPro" MigrationConfiguration="CSharpPro.Migrations.Configuration, CSharpPro" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CSharpPro-Web.config Connection String">
      <ParameterValue>Data Source=10.70.15.207\SQL2014,780;database=CSharpPro;Persist Security Info=True;User ID=csharp_compa_mainsite;Password=Lut84x?3;Initial Catalog=csharp_compa_mainsite</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>